:root {
  --main-font-family: "Spinnaker", sans-serif;
  --border-box-color-line: 1px solid white;
}

.contain {
  max-width: 420px;
  margin: 0 auto;
  padding: 15px 60px;
  height: 95px;
  background-color: #f4ffd3;
}

h1 {
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 42px;
}
h6 {
  padding-top: 1.5rem;
  text-align: center;
  font-family: var(--main-font-family);
}
.begin {
  display: block;
  text-align: center;
  padding: 75px 25px;
}

.container {
  font-family: var(--main-font-family);
}

button {
  font-family: var(--main-font-family);
  display: block;
  text-align: center;
  padding: 15px 65px;
  border: var(--border-box-color-line);
  line-height: 15px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  margin: 0 auto;
  background-color: rgba(196, 196, 196, 1);
}

button#vaxlocate.icon {
  color: #9b9a9f;
  box-shadow: none;
  border: none;
  background-color: transparent;
  position: relative;
  right: 225px;
  bottom: 25px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-family: var(--main-font-family);
}

input#search-form.form-control {
  border: var(--border-box-color-line);
  outline: none;
  padding: 0.5em 1em;
  border-radius: 24px;
  margin-top: 1.5rem;
  margin: 0 auto;
  max-width: 400px;
  color: black;
  font-size: 20px;
  text-align: center;
  background: #f0f0f0;
  position: relative;
  left: 155px;
}

input#formFileMultiple.form-control {
  position: relative;
  top: 0.5rem;
}

.syringe {
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg);
    position: relative;
  left: 200px;
  bottom: 75px;
  height: 150px;
}
div#vaccine.vaccine-location {
  font-family: var(--main-font-family);
  color: black;
  margin: 0 auto;
  display: block;
  text-align: left;
  padding: 75px 25px;
}